<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV 파일 입력</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>CSV 파일 입력하기</h1>
        csv, xlsx 파일만 업로드 가능합니다.
        <br><br>
        <input type="file" id="csvFileInput" accept=".csv, .xlsx">
        <br>
        <button onclick="handleUpload()">업로드</button>
    </div>
    
    <script src="script.js"></script>
</body>
</html>
